# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
gerow-test-api-yml/target/
gerow-test-utils/target/
ipa-interface-test/src/test/resources/testCase/淘宝/行业场景/
ipa-interface-test/allure-results/
ipa-interface-test/src/test/java/com/gerow/test/MyTest.java
ipa-interface-test/target/
gerow-interface-test/src/test/resources/testCase/淘宝/行业场景/
gerow-interface-test/allure-results
gerow-interface-test/src/test/java/com/gerow/test/MyTest.java
gerow-interface-test/target/

