# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
jq-test-api-yml-testcase/allure-results/
jq-test-api-yml-testcase/target/
jq-test-api-yml/target/
jq-test-serve/target/
jq-test-utils/target/
xiaoduo-interface-test/src/test/resources/testCase/淘宝/行业场景/
xiaoduo-interface-test/allure-results/
xiaoduo-interface-test/src/test/java/com/xiaoduo/test/MyTest.java
xiaoduo-interface-test/target/
ipa-interface-test/src/test/resources/testCase/淘宝/行业场景/
ipa-interface-test/allure-results/
ipa-interface-test/src/test/java/com/xiaoduo/test/MyTest.java
ipa-interface-test/target/
